html,
body {
  height: 100%;
  width: 100%;
  font-family: "Blinker", sans-serif;
  color: 222;
}

.navbar {
  padding: 0.8rem;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.btn-primary {
  border: 1px solid #1b2a41;
}

.btn-primary:hover {
  border: #000;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: zero auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.image{
  overflow: hidden;
}

.image img{
  transition: transform 1.5s ease;
}

.image:hover img{
  transform: scale(2.0);
}

.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: red;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 70%;
}